apiVersion: v1
kind: Service
metadata:
  name: backend-service
  labels:
    app: screenshot-organizer
    tier: backend
spec:
  selector:
    app: screenshot-organizer
    tier: backend
  ports:
  - protocol: TCP
    port: 3000
    targetPort: 3000
  type: ClusterIP
