apiVersion: v1
kind: Service
metadata:
  name: frontend-service
  labels:
    app: screenshot-organizer
    tier: frontend
spec:
  selector:
    app: screenshot-organizer
    tier: frontend
  ports:
  - protocol: TCP
    port: 80
    targetPort: 80
  type: NodePort
